@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
   --font-sans: "Roboto", ui-sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
  
  /* Cores semânticas (com fallback) */
  --color-primary: theme(colors.blue.500, #2563eb);
  --color-secondary: theme(colors.slate.500, #64748b);
  --color-success: theme(colors.teal.500, #14b8a6);
  --color-info: theme(colors.sky.500, #38bdf8);
  --color-warning: theme(colors.amber.500, #fbbf24);
  --color-error: theme(colors.red.500, #ef4444);
  --color-accent: theme(colors.purple.500, #8b5cf6);
}

@layer base {
  /* Configurações globais da body */
  .dash {
      font-family: var(--font-sans);
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: medium;
      font-variation-settings: "wdth" 100;
      background-color: #f6f7fc;
      color: oklch(55.4% 0.046 257.417);
  }

    /* Variáveis globais para uso em componentes */
  :root {
    --primary: var(--color-primary);
    --secondary: var(--color-secondary);
    --success: var(--color-success);
    --info: var(--color-info);
    --warning: var(--color-warning);
    --error: var(--color-error);
    --accent: var(--color-accent);
  }
}


/* Importação de componentes */
@import "./components/button.css";
@import "./components/input.css";
@import "./components/card.css";